<div class="container">
  <ngb-alert *ngIf="successMessage" type="secondary" (close)="successMessage = null" i18n="@@project.success.msg">{{ successMessage }}</ngb-alert>
  <form class="mt-3" [formGroup]="projectForm" (ngSubmit)="addProject()">
    <div class="form-group row">
      <label for="project" class="col-sm-1 col-form-label"  i18n="@@project.form.lbl.project">Project: </label>
      <div class="col-sm-7">
        <input type="text" class="form-control" formControlName="project"
          [ngClass]="{ 'is-invalid': submitted && projectForm.controls.project.errors }">
        <div *ngIf="submitted && projectForm.controls.project.errors" class="error"></div>
        <div *ngIf="submitted && projectForm.controls.project.errors?.required" class="error" i18n="@@project.project.error">Project is required.</div>
        <input type="hidden" class="form-control" formControlName="projectId">
      </div>
    </div>

    <div class="form-group row">
      <label for="selectDate" class="col-sm-1 col-form-label"></label>
      <div class="col-sm-3">
        <div class="col-sm custom-control custom-checkbox">
          <input type="checkbox" formControlName="selectDate" data-md-icheck (change)="setDate($event)" class="custom-control-input" id="selectDate">
          <label class="custom-control-label" for="selectDate" i18n="@@project.form.lbl.setDate">Set Start and End Date</label>
        </div>
      </div>
      <div class="col-sm-2" role="group">
        <input type="date" formControlName="startDate" disabled>
      </div>
      <div class="col-sm-2" role="group">
        <input type="date" formControlName="endDate" disabled>
      </div>
    </div>
    <div class="row">
        <label class="col-sm-1 col-form-label"></label>
        <div class="error col-sm-6" *ngIf="projectForm.hasError('loaddate')" i18n="@@project.date.error">
          Start date must be before the end date
        </div>
    </div>

    <div class="form-group row">
      <label for="priority" class="col-sm-1 col-form-label" i18n="@@project.form.lbl.priority">Priority: </label>
      <div class="col-sm-7">
        <div class="d-flex justify-content-left my-6">
          <span class="font-weight-bold indigo-text mr-2 mt-1">0</span>
          <div class="range-field w-100">
            <input class="custom-range" type="range" value="0" min="0" max="30" formControlName="priority" />
          </div>
          <span class="font-weight-bold indigo-text ml-2 mt-1">30</span>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="manager" class="col-sm-1 col-form-label" i18n="@@project.form.lbl.manager">Manager: </label>
      <div class="col-sm-6">
        <input type="text" class="form-control" formControlName="manager"
          [ngClass]="{ 'is-invalid': submitted && projectForm.controls.manager.errors }" disabled>
        <div *ngIf="submitted && projectForm.controls.manager.errors" class="error"></div>
        <div *ngIf="submitted && projectForm.controls.manager.errors?.required" class="error" i18n="@@project.manager.error">Manager is required.</div>
        <input type="hidden" class="form-control" formControlName="managerId">
      </div>
      <div class="btn-group col-sm-1" role="group">
        <button type="button" class="btn btn-outline-secondary button5" (click)="openSearchModalDialog()" i18n="@@project.btn.search">Search</button>
      </div>
    </div>

    <div class="btn-toolbar col-sm-6 float-right mt-3" role="toolbar">
      <div class="btn-group" role="group">
        <button type="submit" class="btn btn-light" i18n="@@project.btn.add">{{ projectBtnLabel }}</button>
      </div>
      <div>&nbsp;&nbsp;</div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-light" (click)="resetForm ()" i18n="@@project.btn.reset">Reset</button>
      </div>
    </div>
  </form>

  <div class="col-sm row">
    <div class="col-sm-8 mt-5">
      <input type="text" (keyup)='searchProject($event.target.value)' class="form-control" id="search"
        placeholder="Search...">
    </div>
  </div>

  <div class="mt-3"></div>

  <div class="col-sm row">
    <div class="btn-group col-sm-8" role="group">
      <div class="btn-toolbar row" role="toolbar">
        <div class="btn-toolbar row" role="toolbar">
          <label for="project" class="col-form-label ml-4" i18n="@@project.lbl.sortBy">Sort By: </label>
          <div class="btn-group ml-2" role="group">
            <button class="btn btn-light" (click)="sortProject($event.target)" id="startDate" i18n="@@project.btn.startDate">Start Date</button>
            <button class="btn btn-light" (click)="sortProject($event.target)" id="endDate" i18n="@@project.btn.endDate">End Date</button>
            <button class="btn btn-light" (click)="sortProject($event.target)" id="priority" i18n="@@project.btn.priority">Priority</button>
            <button class="btn btn-light" (click)="sortProject($event.target)" id="taskCompleted" i18n="@@project.btn.completed">Completed</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm row mt-3" *ngFor="let p of allprojects">
    <div class="row mt-3">
      <div class="col-sm-7">
          <ul class="list-group list-bg">
            <li class="list-group-item col-sm">
                <div class="row">
                  <div class="col-sm-7"><span i18n="@@project.lbl.project">Project</span>: {{p.project}}</div>
                </div>
            </li>
            <li class="list-group-item col-sm">
              <div class="row">
                  <div class="col-sm-6"><span i18n="@@project.lbl.noOfTask">No of Tasks</span>: {{p.totalTasks}}</div>
                  <div class="col-sm-6"><span i18n="@@project.lbl.completed">Completed</span>: {{p.taskCompleted}}</div>
              </div>
            </li>
            <li class="list-group-item col-sm">
                <div class="row">
                    <div class="col-sm-6"><span i18n="@@project.lbl.startDate">Start Date</span>: {{p.startDate}}</div>
                    <div class="col-sm-6"><span i18n="@@project.lbl.startDate">End Date</span>: {{p.endDate}}</div>
                </div>
            </li>
        </ul>
      </div>
      <div class="col-sm-2">
          <div class="row col-sm-2">
            <ul class="list-group list-bg">
                <li class="list-group-item">
                    <div class="col-sm-1" i18n="@@project.lbl.priority">Priority</div>
                </li> 
                <li class="list-group-item">
                    <div class="col-sm-1">{{p.priority}}</div>
                </li>
            </ul>
          </div>
      </div>
      <div class="col-sm">
          <div class="col-sm-2">
              <button type="button" class="btn btn-light" (click)="updateProject(p)" i18n="@@project.btn.update">Update</button>
          </div>
          <div class="col-sm-2">
              <button type="button" class="btn btn-light" (click)="suspendProject(p.projectId)" i18n="@@project.btn.suspend">Suspend</button>
          </div>
      </div>
    </div>
  </div>

  <!-- MODAL WINDOW CODE-->
  <div class="backdrop" [ngStyle]="{'display':display}"></div>
  <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <strong>Search User</strong>
          <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span
              aria-hidden="true">&times;</span></button>
        </div>

        <!-- modal-body -->
        <div class="modal-body">
            <div class="search-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
                </mat-form-field>
              </div>
              
              <div class="search-container">
                <mat-table [dataSource]="dataSource" matSort>
                  <ng-container matColumnDef="employeeId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Employee ID </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.employeeId}} </mat-cell>
                  </ng-container>
                 
                  <ng-container matColumnDef="firstName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}}</mat-cell>
                  </ng-container>
              
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selectUser(row.id, row.firstName, row.lastName)">
                  </mat-row>
                </mat-table>
              </div>
        </div>

        <!-- modal-footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="closeModalDialog()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>